<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<title>Insert title here</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/daumAddressScript.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
<script type="text/javascript">
$(function(){
	$("#sample4_roadAddress").click(function(){
		execDaumPostcode();
	});
});
</script>
</head>
<body class="w3-light-grey">
<!-- Contact section -->
  <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact" >
    <div class="w3-content" style="max-width:600px">
      <h4 class="w3-center"><b>회원 가입하기</b></h4>
      <form action="memRegist" method="post" th:object="${memberCommand}" id="frm">
      	<div class="w3-section">
          <label>회원번호</label>
          <input class="w3-input w3-border" type="text" name="memberNum" th:value="${memberCommand.memberNum}" readonly="readonly">
        </div>
        <div class="w3-section">
          <label>아이디</label>
          <input class="w3-input w3-border" type="text" name="memberId"  th:value="${memberCommand.memberId }">
          <span style="color:red" th:if="${#fields.hasErrors('memberId')}"th:errors="*{memberId}"></span>
        </div>
        <div class="w3-section">
          <label>비밀번호</label>
          <input class="w3-input w3-border" type="password" name="memberPw" >
          <span style="color:red" th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></span>
        </div>
        <div class="w3-section">
          <label>비밀번호 확인</label>
          <input class="w3-input w3-border" type="password" name="memberPwCon" >
          <span style="color:red" th:if="${#fields.hasErrors('memberPwCon')}" th:errors="*{memberPwCon}"></span>
        </div>
        <div class="w3-section">
          <label>이름</label>
          <input class="w3-input w3-border" type="text" name="memberName" th:value="${memberCommand.memberName}" >
          <span style="color:red" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span>
        </div>
        <div class="w3-section">
          <label>회원주소</label>
          <input class="w3-input w3-border" type="text" name="memberAddr" id="sample4_roadAddress" th:value="${memberCommand.memberAddr }" readonly="readonly">
				<span style="color:red" th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}">
        </div>
        <div class="w3-section">
          <label>상세주소</label>
          <input class="w3-input w3-border" type="text" name="memberAddrDetail" th:value="${memberCommand.memberAddrDetail }">
        </div>
        <div class="w3-section">
          <label>우편번호</label>
          <input class="w3-input w3-border" type="text" name="memberPost" id="sample4_postcode" th:value="${memberCommand.memberPost }" readonly="readonly">
        </div>
        <div class="w3-section">
          <label>전화번호</label>
          <input class="w3-input w3-border" type="tel" name="memberPhone1" th:value="${memberCommand.memberPhone1 }">
          <span style="color:red" th:if="${#fields.hasErrors('memberPhone1')}" th:errors="*{memberPhone1}"></span>
        </div>
        <div class="w3-section">
          <label>성별</label>
          <input type="radio" name="gender" value="M" checked="checked"/>남자
				<input type="radio" name="gender" value="F"/>여자<br />
        </div>
        <div class="w3-section">
          <label>생년월일</label>
          <input class="w3-input w3-border" type="date" name="memberBirth" th:value="${memberCommand.memberBirth}">
          <span style="color:red" th:if="${#fields.hasErrors('memberBirth')}"  th:errors="*{memberBirth}"></span>
        </div>
        <div class="w3-section">
          <label>이메일</label>
          <input class="w3-input w3-border" type="email" name="memberEmail" th:value="${memberCommand.memberEmail }">
          <span style="color:red" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"></span>
        </div>
        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">가입하기</button>
      </form>
    </div>
  </div>
</body>
</html>