<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>숙소</b> 리스트</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="/goods/goodsForm" class="w3-bar-item w3-button">Host</a>
      <a href="/ipgo/goodsIpgoList" class="w3-bar-item w3-button">Ipgo</a>
      <a href="/login/logout" class="w3-bar-item w3-button">LogOut</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">숙소 리스트</h3>
    <div class="w3-row-padding w3-grayscale">
    	<th:block th:each="dto : ${list}">
		    <div class="w3-col l3 m6 w3-margin-bottom">
		      <img th:src="|/static/upload/${dto.goodsMainStoreImage}|" alt="mainImage" style="width:100%">
		      <h3>[[${dto.goodsName}]]</h3>
		      <p class="w3-opacity">[[${#numbers.formatCurrency(dto.goodsPrice, )}]] 원</p>
		      <p>[[${dto.empNum}]]님의 숙소<br>
		      	지역 : [[${dto.hotelLocation}]] <br>
		      	등록일 : [[${#dates.format(dto.goodsRegist, 'yyyy-MM-dd')}]]</p>
		      <p><button type="button" class="w3-button w3-light-grey w3-block" 
		      	th:attr="onclick=|javascript:location.href='goodsDetail?goodsNum=${dto.goodsNum}'|">숙소 상세보기</button></p>
		    </div>
		</th:block>
	  </div>
  </div>
<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
