<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniHotelProject.mapper.EmployeeInfoMapper">
	<sql id="empBaseColumns">
		EMP_NUM, EMP_ID, EMP_PW, EMP_NAME, EMP_ADDR, EMP_ADDR_DETAIL, EMP_POST
		, EMP_PHONE, EMP_JUMIN, EMP_EMAIL, EMP_HIRE_DATE
	</sql>
	
	<select id="employeeSelectOne" parameterType="string" resultType="empDTO">
		select <include refid="empBaseColumns"/> from employees
		where emp_id = #{empId}
	</select>
	
	<update id="employeeUpdate" parameterType="empDTO">
		update employees set 
		EMP_NAME = #{empName}
		, EMP_ADDR = #{empAddr}
		, EMP_ADDR_DETAIL = #{empAddrDetail}
		, EMP_POST = #{empPost}
		, EMP_EMAIL = #{empEmail}
		, EMP_PHONE = #{empPhone}
		where EMP_ID = #{empId}
	</update>
	
	<delete id="employeeDelete" parameterType="string">
		delete from employees
		where emp_id = #{empId}
	</delete>
</mapper>