<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="miniHotelProject.mapper.MemberMapper">
	<sql id="memberBaseColumns">
		MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW, MEMBER_ADDR, MEMBER_ADDR_DETAIL
		, MEMBER_POST, MEMBER_REGIST, GENDER, MEMBER_PHONE1, MEMBER_EMAIL
		, MEMBER_BIRTH, MEMBER_POINT, MEMBER_EMAIL_CONF
	</sql>
	
	<insert id="memberInsert" parameterType="memDTO">
		insert into members(MEMBER_NUM, MEMBER_NAME, MEMBER_ID, MEMBER_PW
		, MEMBER_ADDR, MEMBER_ADDR_DETAIL, MEMBER_POST
		, MEMBER_REGIST, GENDER, MEMBER_PHONE1
		, MEMBER_EMAIL, MEMBER_BIRTH)
		values(#{memberNum}, #{memberName}, #{memberId}, #{memberPw}
		, #{memberAddr}, #{memberAddrDetail}, #{memberPost}
		, sysdate, #{gender}, #{memberPhone1}
		, #{memberEmail}, #{memberBirth})
	</insert>
	
	<select id="memberSelectAll" resultType="memDTO">
		select <include refid="memberBaseColumns" /> from members
	</select>
	
	<select id="memberSelectOne" resultType="memDTO" parameterType="string">
		select <include refid="memberBaseColumns" /> from members
		where member_num = #{memberNum}
	</select>
	
	<update id="memberUpdate" parameterType="memDTO">
		update members set
		gender = #{gender}
		, member_addr = #{memberAddr}
		, member_addr_detail = #{memberAddrDetail}
		, member_birth = #{memberBirth}
		, member_email = #{memberEmail}
		, member_id = #{memberId}
		, member_name = #{memberName}
		, member_num = #{memberNum}
		, member_phone1 = #{memberPhone1}
		, member_post = #{memberPost}
		, member_regist = #{memberRegist}
		where member_num = #{memberNum}
	</update>
	
	<delete id="memberDelete" parameterType="string">
		delete from members
		where member_num = #{memberNum}
	</delete>
</mapper>