<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">My Page</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="#contact" class="w3-bar-item w3-button">LogOut</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
  	<h1 class="w3-center">My Info</h1><br>
    <div class="w3-col l6 w3-padding-large">
      <h4>호스트 번호</h4>
      <p class="w3-text-grey">Host Number</p>
    
      <h4>아이디</h4>
      <p class="w3-text-grey">ID</p>
    
      <h4>이름</h4>
      <p class="w3-text-grey">Name</p>
    
      <h4>주소</h4>
      <p class="w3-text-grey">우편번호, Addr<br>
      						AddrDetail</p>
    
      <h4>휴대폰</h4>
      <p class="w3-text-grey">Phone</p>
      
      <h4>이메일</h4>
      <p class="w3-text-grey">Email</p>  
       
      <h4>주민번호</h4>
      <p class="w3-text-grey">Born</p>  
       
      <h4>등록일</h4>
      <p class="w3-text-grey">HireDate</p>  
       
      <p><button class="w3-button w3-light-grey w3-section" type="button">내 정보 수정</button>
      	<button class="w3-button w3-light-grey w3-section" type="button">호스트 탈퇴</button></p> 
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="/static/images/karina.jpeg" class="w3-round w3-image w3-opacity-min" alt="ProfileImg" style="width:100%">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
