<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/static/js/daumAddressScript.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="/static/js/check.js"></script>
<link rel="stylesheet" href="/static/css/form.css" />
<style>
  body {
    padding-top: 60px; /* 헤더 높이만큼 여백 추가 */
  }
</style>
<script type="text/javascript">
$(function(){
	$("#sample4_roadAddress").click(function(){
		execDaumPostcode();
	});
});
</script>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">호스트 정보 수정</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Home</a>
      <a href="#contact" class="w3-bar-item w3-button">LogOut</a>
    </div>
  </div>
</div>
<form action="empModify" method="post" name="frm" th:object="${employeeCommand}">
<!-- 유효성 검사 오류를 막기 위해 추가 했습니다. -->
<input type="hidden" name="empPw" value="1111!qqqq" />
<input type="hidden" name="empPwCon" value="111111" />
	<div class="form-caption-wrapper">
	    <p class="form-caption">직원 정보수정</p>
	    <div class="form-wrapper">
	        <form class="whatsapp-form">
	        	<div class="datainput">
	                <input type="text" name="empNum" th:value="${employeeCommand.empNum }" readonly="readonly" />
	                <span style="color:red" th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></span>
	                <label for="empNum">호스트번호</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="text" name="empName" th:value="${employeeCommand.empName }" />
	                <label for="empName">이름</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="text" name="empId" th:value="${employeeCommand.empId }" />
					<span style="color:red" th:if="${#fields.hasErrors('empId')}"th:errors="*{empId}"></span>
	                <label for="empId">아이디</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="text" name="empAddr" id="sample4_roadAddress" th:value="${employeeCommand.empAddr }" readonly="readonly"/>
					<span style="color:red" th:if="${#fields.hasErrors('empAddr')}" th:errors="*{empAddr}"></span>
	                <label for="empAddr">호스트주소</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="text" name="empAddrDetail" th:value="${employeeCommand.empAddrDetail }"/>
	                <label for="empAddrDetail">상세주소</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="text" name="empPost" id="sample4_postcode" readonly th:value="${employeeCommand.empPost }"/>
	                <label for="empPost">우편번호</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="tel" name="empPhone" th:value="${employeeCommand.empPhone }"/>
					<span style="color:red" th:if="${#fields.hasErrors('empPhone')}" th:errors="*{empPhone}"></span>
	                <label for="empPhone">전화번호</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
	                <input type="date" name="empHireDate" th:value="${#dates.format(employeeCommand.empHireDate, 'yyyy-MM-dd')}" />
					<span style="color:red" th:if="${#fields.hasErrors('empHireDate')}" th:errors="*{empHireDate}"></span>
	                <label for="empPost">입사일</label>
	                <div class="bar"></div>
	            </div>
	            <div class="datainput">
				<input type="email" name="empEmail" th:value="${employeeCommand.empEmail }"/>
				<span style="color:red" th:if="${#fields.hasErrors('empEmail')}" th:errors="*{empEmail}"></span>
				<span class="highlight"></span><span class="bar"></span>
				<label>이메일</label>
				</div>
				
	            <button class="button"><b>수정 완료</b></button>
	        </form>
	    </div>
	</div>
</form>
</html>